.privacy-body {
  background: var(--bg-gray);

  .page__wrapper {
    background: none;
  }

  .btn-login {
    margin-right: 0 !important;
  }

  .footer {
    border: none;
  }
}

.privacy {
  padding: 48px 0;

  h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  strong {
    font-weight: 600;
  }

  .list {
    margin-left: 16px;
  }

  &__link {
    text-decoration: underline;
  }
}
