:root {
  --wrapper-width: 1920px;
  --container-width: 1200px;

  --font-default: Inter, sans-serif;

  --main-color: #afd44e;
  --bg-gray: #f2f2f2;
  --dark-color: #262626;
  --text-color: #333;
  --line-color: rgba(0, 0, 0, 0.12);
}
